body{
  margin: 0 auto;
}

#grid{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-areas:
  "header header"
  "buttons selectors"
  "videoContainer videoContainer"
  "bitRate bitRate"
  "localClips remoteClips"
  "footer footer";
  background-color: #E5E0DC;
}

#header{
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background-color: white;
}

.logo{
  padding: 15px;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: buttons;
  background-color: white;
  margin-left: 15px;
}

.btn{
  padding: 5px;
  width: 120px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#selectors{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: selectors;
  margin-top: 10px;
  background-color: white;
  margin-right: 15px;
}

#selectors *{
  margin-top: 5px;
  margin-bottom: 5px;
}


#videoContainer{
  grid-area: videoContainer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  justify-items: center;
}


#bitRate {
  grid-area: bitRate;
}

#footer{
  grid-area: footer;
  background-color: white;
  bottom: 0;
  width: 100%;
}

/*
// Hide the local canvas which is only for context sending purposes
*/
#localCanvas{
  visibility: hidden;
  position: absolute;
}

/*
// Generated clip styling
*/

.clip{
  width: 500px;
  background-color: #DCDCDC;
  padding: 10px 10px 10px 10px;
  margin: 40px auto;
}
