body{
  margin: 0 auto;
}

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "buttons selectors"
  "videoContainer videoContainer"
  "bitRate bitRate"
  "localClips remoteClips"
  "footer footer";
}

#header{
  grid-area: header;
  background-color: red;

}

#buttons {
  grid-area: buttons;
}

#selectors{
  grid-area: selectors;
  margin-top: 10px;
}


#videoContainer{
  grid-area: videoContainer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}


#bitRate {
  grid-area: bitRate;
}

#footer{
  grid-area: footer;
}

/*
// Hide the local canvas which is only for context sending purposes
*/
#localCanvas{
  visibility: hidden;
  position: absolute;
}

/*
// Generated clip styling
*/

.clip{
  width: 500px;
  background-color: #DCDCDC;
  padding: 10px 10px 10px 10px;
  margin: 40px auto;
}
