html{
  margin: 0 auto;
}

#selectors{
  margin-top: 10px;
}


#videoCanvas{
  margin-top: 10px;
}

#localCanvas{
  visibility: hidden;
  position: absolute;
}

/*
// Generated clip styling
*/
#container{
  text-align: center;
}

.clip{
  width: 500px;
  background-color: #DCDCDC;
  padding: 10px 10px 10px 10px;
  margin: 40px auto;
}
